
@model PhotoGallery.WEB.Models.PhotoViewModel
<br />
<br />

<div class="gallery-image-container">
    <div class="gallery-image" align="center" style="background-image:url(@ViewBag.Message)"></div>
</div>




