@{
    ViewBag.Title = "Privacy Policy";
    Layout = "_AdminLayout";
}

@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
     body {
         background: #000000; /* Цвет фона */
         color: #fc0; /* Цвет текста */
     }
</style>
<p></p>
<h3>@ViewData["Title"]</h3>

<p>Use this page to detail your site's privacy policy.</p>
