@model List<PhotoGallery.WEB.Models.PhotoViewModel>

<style>
    body {
        background: #000000; /* Цвет фона */
        color: #fc0; /* Цвет текста */
    }
</style>

<body>
    <div class="container body-content">
        <div class="row gallery-content">
            @foreach (var photo in Model)
            {
                <div class="gallery-image-container">
                    <div class="gallery-image" style="background-image:url(@photo.Path)"></div>
                </div>
            }
        </div>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</body>


