@model List<PhotoGallery.WEB.Models.PhotoViewModel>
@{
    ViewBag.Title = "Все пользователи";
}

<p></p>
<a asp-action="Create">Create photo</a>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>
                <a asp-action="Details" asp-controller="Image" asp-route-id="@item.Id">Details"</a> |
                <a asp-action="Edit" asp-controller="Image" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-controller="Image" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

